<!doctype html>
<title>CSCI-459 - Mongo/Python Example</title>

<header>
  <h1>Grade Book - Update Student</h1>
</header>

<form method="post">

  <table>

    <tr>
      <td>Name:</td>
      <td><input type="text" name="name" value="{{ name }}"></td>
    </tr>
    
    <tr>
      <td>Grades:</td>
      <td><input type="text" name="grades" value="{{ grades }}"></td>
    </tr>

    <tr>
      <td colspan="2"><input type="submit" value="Submit"></td>
    </tr>
    
  </table>

</form>

</br><i>Grades should be entered as a comma-separated list of values.</i>

